{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ post.author }}</a>
                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                  </div>
                </article>
            {% endfor %}

        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Discussion Sidebar</h3>
                <p class='text-muted'>Start a Discussion
                <div style="text-align: center;">
                    <a href="{% url "post-create" %}">
                        <button class="btn btn-outline-primary btn-lg  btn-block">Create Post</button>
                    </a>
                </div>

                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
