{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="content-section">
              <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Discussion Post</legend>
                      {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Post</button>
                  </div>
              </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}
