{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">

            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    <div>
                      {% if object.author == user %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                      {% endif %}
                        <a href="{% url 'blog-home' %}">
                            <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Back To Discussions</button>
                        </a>
                    </div>

                  </div>
                  <h2 class="article-title">{{ object.title }}</h2>
                  <p class="article-content">{{ object.content }}</p>
                </div>
            </article>

        </div>


        <div class="col-md-4">
            <div class="content-section">
                <h3>Discussion Sidebar</h3>
                <p class='text-muted'>
                    <a href="{% url "post-create" %}">
                        <button class="btn btn-outline-primary btn-lg btn-block ">Create Post</button>
                    </a>
                    <div class="mt-2 col-md-12"></div>

                    <a href="{% url "comment-create" object.id %}">
                        <button class="btn btn-outline-primary btn-lg btn-block ">Add Comment</button>
                    </a>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>

                </p>
            </div>
        </div>

        <br/><br/>
        <div class="container"><h2>Comments</h2></div></br>
        {% if not post.comments.all%}
        <div><br/>
          There are no comments, please add one
        </div>
        {% else %}
          <br/>
          {% for comment in post.comments.all %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ comment.user_name.profile.image.url }}">
               <div class="media-body">
                 <div class="article-metadata">
                  <a class="mr-2" href="#">{{ comment.user_name }}</a>
                   <small class="text-muted">{{ comment.date_added|date:"F d, Y" }}</small>
                 </div>
                 <p class="article-content">{{ comment.body }}</p>
               </div>
             </article>
           </div>
         </div></br>
          {% endfor %}
         {% endif %}


    </div>
</main>
{% endblock %}
