<!DOCTYPE html>
<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            AACI Online Restaurant - CSc-322
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="navbar sticky-top navbar-light bg-light">
                <div class="container">
                        <div class="navbar-brand"> Account: <span style='color: #119c1e;'>{{ user.get_username }}</span></div>
                        <div>
                            <a href="{% url "blog-home" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Discussions</button>
                            </a>
                            <a href="{% url "home_view" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Finance</button>
                            </a>
                            <a href="{% url "profile" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Profile</button>
                            </a>
                            <a href="{% url "menu_view" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Menu</button>
                            </a>
                            <a href="{% url "logout_view" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2" type="button">Logout</button>
                            </a>
                            <a href="{% url "user_orders_view" %}">
                                <button class="btn btn-outline-primary ml-1 my-xl-0 my-2" type="button" title="All orders">Orders</i>
                                </button>
                            </a>
                            <a href="{% url "cart_view" %}">
                                <button class="btn btn-outline-primary ml-1 my-xl-0 my-2" type="button" title="Look at your cart"><i class="fa fa-shopping-cart"></i>
                                </button>
                            </a>


                            {% if request.user.is_staff %}
                                <a href="/admin">
                                    <button class="btn btn-outline-info ml-1 my-xl-0 my-2" type="button" title="Admin panel"><i class="fa fa-toolbox"></i>
                                    </button>
                                </a>

                                <a href="{% url "all_orders_view" %}">
                                    <button class="btn btn-outline-info ml-1 my-xl-0 my-2" type="button" title="All orders from users"><i class="fa fa-scroll"></i>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                </div>
            </div>
        {% else %}
            <div class="navbar sticky-top navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">Welcome To AACI </a>
                    <!-- <form class="form-inline my-2 my-lg-0" action="{% url "login_view" %}" autocomplete="off" method="POST">
                        {% csrf_token %}
                        <div class="col-auto pl-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text "><i class="fa fa-user"></i></div>
                                </div>
                                <input type="text" class="form-control my-2 my-sm-0 mr-2" value="" placeholder="Enter username" name="username" autofocus maxlength="254" required id="id_username">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                </div>
                                <input type="password" class="form-control my-2 my-sm-0" value="" placeholder="Enter password" type="password" name="password" required id="id_password">
                            </div>
                        </div>
                        <div class="col-auto pl-0 pr-0">
                            <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" type="submit">Log-in!</button>
                        </div>
                    </form> -->
                    <div>
                        <a href="{% url "menu_view" %}">
                                <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Menu</button>
                        </a>
                        <a href="{% url "login_view" %}">
                            <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Login</button>
                        </a>
                        <a href="{% url "register_view" %}">
                            <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Register</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="mt-2 col-md-12"></div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


        {% block body %}  {% endblock %}
        {% block content %} {% endblock %}



        <footer id="sticky-footer" style="margin-top: 170px;" class="py-4 bg-light text-white-50">
            <div class="container text-center">
              <p style="color: black;">Copyright &copy; AACI 2020</p>
            </div>
        </footer>

         <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
