body {
    /*height: 100vh;*/
    background-image: url("background.png");
    min-height: 400px;
    margin-bottom: 80px;
    clear: both
}

.jumbotron {
    background-color: #343a40;
    color: white;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    align-items: center;
}

hr {
    border-top: 5px solid white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.post {
    background-image: url("background_post.png");
    padding: 20px;
    border: 2px outset #000000;
    border-radius: 5px;
    margin: 10px;
    width: 60%;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
