{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container" style="margin-top: 20px;">
        {% if price_all == 0 %}
            <h1>You don't have anything in cart yet!</h1>
        {% else %}
            <h1 class="text-center">Shopping Cart</h1>
            <div class="col-12 mt-4">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if Pizza %}
                        {% for item in Pizza %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>${{ item.price }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if Sub %}
                        {% for item in Sub %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>${{ item.price }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if Platter %}
                        {% for item in Platter %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>${{ item.price }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if Pasta %}
                        {% for item in Pasta %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>${{ item.price }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if Salad %}
                        {% for item in Salad %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>${{ item.price }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
                <h4 style="text-align:center">Total price: ${{ price_all }}</h4>
                <div class="mt-2 col-md-12"></div>
                <div class="mt-2 col-md-12"></div>

                <div style="text-align: center;">
                    <a href="/finalize/Delivery"><input class="btn btn-success btn-lg btn-block" type="button" value="Delivery">
                    </a>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <a href="/finalize/Pick Up"><input class="btn btn-success btn-lg  btn-block" type="button" value="Pick Up">
                    </a>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <a href="/finalize/Dine in"><input class="btn btn-success btn-lg  btn-block" type="button" value="Dine in">
                    </a>
                </div>

                <div class="mt-2 col-md-12"></div>
                <div class="mt-2 col-md-12"></div>

                <div style="text-align: center;">
                    <a href="{% url "clear_cart" %}"><input class="btn-outline-danger btn-lg btn-block" type="button" value="Delete order">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
