{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% for chef in chefs %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ chef.profile.image.url }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <h2><a class="mr-2" href="{% url 'complaint_chef' chef.id%}">{{ chef.name }}</a></h2>
                    </div>
                    <h6><p class='text-muted'>complaints {{ chef.complaints }}</p></h6>
                    <h6><p class='text-muted'>complement {{ chef.complement }}</p></h6>
                  </div>
                </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
