{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}




{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <div class="container">
        <div class="content-section">
            <form action = "" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">File Complaint / Compliment (Driver):</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>



{% endblock %}
