{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" style="text-align:center">
                    <h3>{{ message }}</h3>
                </div>
            {% endfor %}
        {% endif %}
        {% for item_menu in Pizza %}
            <h2>{{ item_menu }} pizza</h2>
            <div class="row">
                <div class="col-8">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" width="70%">Name</th>
                            <th scope="col" width="15%">Small</th>
                            <th scope="col" width="15%">Large</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Pizza with cheese</td>
                            <td>${{ item_menu.price_sm_0 }}</td>
                            <td>${{ item_menu.price_lg_0 }}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td>Pizza with one </td>
                            <td>${{ item_menu.price_sm_1 }}</td>
                            <td>${{ item_menu.price_lg_1 }}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td>Pizza with two toppings</td>
                            <td>${{ item_menu.price_sm_2 }}</td>
                            <td>${{ item_menu.price_lg_2 }}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td>Pizza with three toppings</td>
                            <td>${{ item_menu.price_sm_3 }} </td>
                            <td>${{ item_menu.price_lg_3 }} </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td>Pizza with unlimited toppings</td>
                            <td>${{ item_menu.price_sm_4 }}</td>
                            <td>${{ item_menu.price_lg_4 }}</td>
                        </tr>
                        </tbody>


                    </table>
                </div>
                <div class="col-2" style="border: green dotted">
                    <h2>Toppings: </h2>
                    {% for topping in PizzaToppings %}
                        {{ topping }},
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                <div class="col-2"> 
                    <h4> Order pizza:</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form_pizza | crispy }}
                        <input type="hidden" name="pizzatype" value="{{ item_menu }}">
                        <input type="submit" value="Save"/>
                    </form>
                </div>
                {% endif %}
            </div>


        {% endfor %}

        <h1>Subs:</h1>
        <table class="table table-hover">
            <thead>
            <tr>

                <th scope="col" width="80%">Name </th>
                <th scope="col" width="10%">Small</th>
                <th scope="col" width="10%">Large</th>
            </tr>
            </thead>
            <tbody>
            {% for item_menu in Sub %}
                <tr>

                    <td>{{ item_menu }}</td>
                    {% if item_menu.only_big_size == 0 %}
                        <td>${{ item_menu.small_price }}  <a href="/add/sub/{{ item_menu.id }}/small"><i class="fas fa-plus-square"></i>

                            </td>
                        <td>${{ item_menu.large_price }}  <a href="/add/sub/{{ item_menu.id }}/large"><i class="fas fa-plus-square"></i></a>

                            </td>
                    {% else %}
                        <td></td>
                        <td>${{ item_menu.large_price }}  <a href="/add/sub/{{ item_menu.id }}/large"><i class="fas fa-plus-square"></i></a>

                            </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h1>Platters:</h1>
        <table class="table table-hover">
            <thead>
            <tr>

                <th scope="col" width="80%">Name</th>
                <th scope="col" width="10%">Small</th>
                <th scope="col" width="10%">Large</th>
            </tr>
            </thead>
            <tbody>
            {% for item_menu in Platter %}
                <tr>

                    <td>{{ item_menu }}</td>
                    <td>${{ item_menu.small_price }}  <a href="/add/platter/{{ item_menu.id }}/small"><i class="fas fa-plus-square"></i></a></td>
                    <td>${{ item_menu.large_price }}  <a href="/add/platter/{{ item_menu.id }}/large"><i class="fas fa-plus-square"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h1>Pasta:</h1>
        <table class="table table-hover">
            <thead>
            <tr>

                <th scope="col" width="88%">Name</th>
                <th scope="col" width="12%">Large</th>
            </tr>
            </thead>
            <tbody>
            {% for item_menu in Pasta %}
                <tr>

                    <td>{{ item_menu }}</td>
                    <td>${{ item_menu.price }}  <a href="/add/pasta/{{ item_menu.id }}/large"><i class="fas fa-plus-square"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Salads:</h1>
        <table class="table table-hover">
            <thead>
            <tr>

                <th scope="col" width="88%">Name</th>
                <th scope="col" width="12%">Large</th>
            </tr>
            </thead>
            <tbody>
            {% for item_menu in Salad %}
                <tr>

                    <td>{{ item_menu }}</td>
                    <td>${{ item_menu.price }}  <a href="/add/salad/{{ item_menu.id }}/1"><i class="fas fa-plus-square"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
