{% extends "layout.html" %}

{% block body %}
    <div class="container" style="margin-top: 20px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" style="text-align:center">
                    <h3>{{ message }}</h3>
                </div>
            {% endfor %}
        {% endif %}
        {% if orders %}
            {% for item in orders %}
                <div style="border-bottom: 1px solid #ccc; margin-bottom: 10px;">
                    <h2>{{ item }}
                        {% if item.order_done == True %}
                            <i class="fa fa-check"></i>
                            <small> <- This order is ready!</small>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}

                    </h2>
                    <h5>made {{ item.order_timestamp |timesince }} ago</h5>
                    {% if item.order_done == False %}
                    {% endif %}

                    <ul>
                        {% for pizza_item in item.pizzas.all %}
                            <li>{{ pizza_item}} -> {% for topping in pizza_item.toppings.all %}{{ topping }}, {% endfor %}</li>
                        {% endfor %}
                        {% for sub_item in item.subs.all %}
                            <li>Sub: {{ sub_item.subtype }} {{ sub_item.subsize }}</li>
                        {% endfor %}
                        {% for pasta_item in item.pastas.all %}
                            <li>Pasta: {{ pasta_item.pastatype }}</li>
                        {% endfor %}
                        {% for salad_item in item.salads.all %}
                            <li>Salad: {{ salad_item.saladtype }}</li>
                        {% endfor %}
                        {% for platter_item in item.platters.all %}
                            <li>Platter: {{ platter_item.plattertype }} {{ platter_item.plattersize }}</li>
                        {% endfor %}
                    </ul>
                    <li>Order Type: {{ item.order_type}}</li>
                    <a class="mr-2" href="#">{{ item.order_chef }}</a>
                    {% if item.order_type == 'Delivery' %}
                        <a class="mr-2" href="#">{{ item.order_driver }}</a>
                    {%endif%}
                </div>
            {% endfor %}
        {% else %}
            <h2> You don't have ANY orders. It's time to change it!</h2>
        {% endif %}
    </div>
{% endblock %}
