{% extends "layout.html" %}
{% block body %}
    <div class="container text-center">
       <div class="col-xl-">
            <div class="jumbotron vertical-center">
                <h1 class="display-4">Place an Order Now!</h1>

            </div> 
        </div>
        {% if user.is_authenticated %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h5>Most Popular Dishes</h5>
                    <hr>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" width="100%">Name</th>
                            </tr>
                        </thead>
                            <tbody>
                                    {%for item in top_three_dish%}
                                        <tr>

                                            <td>{{item}}</td>

                                        </tr>
                                    {%endfor%}
                            </tbody>
                    </table>
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
