{% extends "layout.html" %}
{% block body %}
    <!-- {% load crispy_forms_tags %} -->
<div class="mt-2 col-md-12"></div>

    <!-- <div class="d-flex justify-content-center"> -->
        <div class="container" style="margin-bottom: 360px">
            <h1 style="margin-top: 50px;">Login</h1>
        <form  method="post" autocomplete="off" action="{% url "login_view" %}" style="margin-bottom: 290px;" >
            {% csrf_token %}

            <!-- {{ form | crispy }} -->
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" value="" placeholder="Enter username" name="username" autofocus maxlength="254" required id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" class="form-control" ivalue="" placeholder="Enter password" type="password" name="password" required id="id_password">
            </div>
            <input type="submit" class="btn btn-primary" value="Log in">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}