{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}




{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <div class="content-section">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                        <div class="media-body">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            <legend class="border-bottom mb-4">Total Money Spent: {{amountspent}}</legend>
                            <legend class="border-bottom mb-4">Total Orders: {{totalorders}}</legend>
                            <legend class="border-bottom mb-4">VIP STATUS: {{vipstatus}}</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>

                    </form>

                </div>

            </div>

                    <div class="col-md-5">
                        <div class="content-section">
                            <h3>{{ user.get_username }}'s Top Dishes</h3>
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" width="70%">Name</th>

                                </tr>
                                </thead>

                                <tbody>
                                        {%for item in top_three_dish%}
                                    <tr>
                                        <td>{{item}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                            </table>
                        </div>

                            <div class="content-section">
                                <h3>For Our Chefs</h3>
                                <p class='text-muted'>Choose wisely
                                <div style="text-align: center;">
                                    <a href="{% url "chef_list" %}">
                                        <button class="btn btn-outline-primary btn-lg  btn-block">Compliment / Complaint</button>
                                    </a></br>
                                </div>
                                </p>
                            </div>


                            <div class="content-section">
                                <h3>For Our Drivers</h3>
                                <p class='text-muted'>Choose wisely
                                <div style="text-align: center;">
                                    <a href="{% url "driver_list" %}">
                                        <button class="btn btn-outline-primary btn-lg  btn-block">Compliment / Complaint</button>
                                    </a></br>
                                </div>
                                </p>
                            </div>


                    </div>

        </div>

    </div>

{% endblock %}
