{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="mt-2 col-md-12"></div>

    <div class="d-flex justify-content-center">

        <form method="post" autocomplete="off" action="{% url "register_view" %}" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form | crispy}}
            </fieldset>
            <label for="deposit">Deposit</label><br>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" disabled value="100" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              <small class="text-muted" style="display:block;margin-bottom: 10px;">
                To become a registered user you must deposit $100
             </small><br>
            <input type="submit" value="Register">
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>
        </div>

    </div>

{% endblock %}
