{% extends "layout.html" %}

{% block content %}
<div class="container my-3">
  <form method="post" autocomplete="off" action="{% url "deposit_view" %}">
    {% csrf_token %}
    <label for="deposit">Enter Amount of $:</label>
    <input type="number" id="deposit" name="amount">
    <button class="btn btn-outline-primary mx-1 my-xl-0 my-2 ">Submit</button>
  </form>
</a>
</div>
{% endblock %}
