{% extends "layout.html" %}



{% block content %}
<div class="container">
  <h1>Balance = {{request.user.bankaccount.balance}}</h1>
  <a href="{% url "deposit_view" %}">
    <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Deposit Money</button>
</a>
</div>
{% endblock %}
